<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'store-list' %}">Товары</a></li>
            <li><a href="{% url 'store-create' %}">Создание нового объекта</a></li>
        </ul>
    </nav>

    <div class="container mt-5 mb-5">
        {% block sidebar %}{% endblock %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

